<head>
    <title>React App</title>
    <link href='bower_components/skeleton/css/normalize.css' rel='stylesheet'>
    <link href='bower_components/skeleton/css/skeleton.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="container">
        <div id="app"></div>
    </div>
    <script src="app.js"></script>

</body>